.DS_Store
.Trashes
*.swp
*.lock

.svn

DerivedData/
build/

xcuserdata
*~.nib
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

*.a
*.cache
*.log
*.o
*.trs
.DS_Store
.deps
.svn
/aclocal.m4
/ar-lib
/compile
/config.guess
/config.h
/config.status
/config.sub
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/test-driver
Makefile
Makefile.in
